@import url("https://fonts.googleapis.com/css?family=Lato:100,300,500,700,900|Reem+Kufi&display=swap");
/*===============
GLOBAL
===============*/

:root{
        /* Fonts*/
    --fontLato: "Lato", "sans-serif";
    --fontReem: "Reem Kufi", "sans-serif";
        
        /* Colors */
    --white: #ffffff;
    --black: #000000;    
}

body{
    overflow-x: hidden;
    font-family: var(--fontReem);
    background: #f1f1f1;
}

/*===============
HEADER
===============*/

header nav a.brand-logo img {
    margin-top: 3px;
}

.navbar-fixed{
    z-index: 999;
    width: 100%;
    position: absolute;
}

/*===============
HERO
===============*/

div.hero{
    background: url("../imagenes/hero_fondo.jpg");
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
    height: 100vh;
}

/*Acomoda el hero*/

.hero .container{   
    
    width: 100%;
    margin-top: 30%;
    margin :60px;
    z-index: 2;
}

/*Estilo del titulo*/
.hero .container h2{
    font-family: var(--fontLato);
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.33rem;
    color: var(--white);
    z-index: 2;
}

/*Estilo del parrafo*/
.hero .container p{
    font-family: var(--fontReem);
    color: var(--white);
    text-align: center;
    letter-spacing: 0.33rem;
    font-size: 14px;
}

.boton{
    text-align: center;
}

/*==============================
PAGINA DE REGISTRO Y LOGIN
==============================*/

.container-form{
    padding: 100px 100px;
    z-index: 1;
}

.container-form .card{
    padding: 10px 15px;
    width: 50%;
    margin: auto;
}

div input[type="submit"]{
    color: var(--white);
}

/*===================
PAGINA PROFILE
===================*/

.navbar-fixed{
    z-index: 999;
}

main{
    z-index: 0;
}

main.user-profile .content-parallx{
    margin-top: 100px;
}

main.user-profile .content-parallx figure{
    margin: 0;
    padding: 0;
    z-index: 0;
}

main.user-profile .content-parallx h2.name-user{
    color: var(--white);
    font-family: var(--fontLato);
    letter-spacing: 0.33rem;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0;
    padding: 0;
    z-index: 0;
}

.name-user{
    font-family: var(--fontLato);
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.33rem;
    color: var(--white);
    z-index: 1;
}

main.user-profile article{
    padding: 20px 15px;
}

main.user-profile article h3{
    color: #212121;
    font-family: var(--fontLato);
    letter-spacing: 0.33rem;
    text-transform: uppercase;
    font-size: 23px;
}

main.user-profile article figcaption{
    color: #212121;
    font-family: var(--fontLato);
    letter-spacing: 0.22rem;
    font-size: 16px;
}

/*===============
FOOTER
===============*/

footer{
    padding: 5px 0px;
}

footer p.copy{
    color: var(--white);
    margin: 0;
}